# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.12

## Exercícios Cap02

In [3]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

paises = ['Brasil', 'Uruguai', 'Peru', 'Austrália', 'Holanda']
paises

['Brasil', 'Uruguai', 'Peru', 'Austrália', 'Holanda']

In [11]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

nome = 'Danyelle'
sobrenome = ' Melo dos Santos'

nomecompleto = nome + sobrenome
nomecompleto

'Danyelle Melo dos Santos'

In [12]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

t1 = (1, 2, 2, 3, 4, 4, 4, 5)
t1.count(4)

3

In [14]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dicionario1 = {}
dicionario1

{}

In [16]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

d1 = {1: 'Sim' , 0: 'Não', 2: 'talvez'}
d1

{1: 'Sim', 0: 'Não', 2: 'talvez'}

In [18]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

d1[3] = 'Nunca'
d1

{1: 'Sim', 0: 'Não', 2: 'talvez', 3: 'Nunca'}

In [19]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

d2 = {'nome': 'Danyelle', 'numeros da sorte': [7,8], 'onde mora?': 'Recife'}
d2

{'nome': 'Danyelle', 'numeros da sorte': [7, 8], 'onde mora?': 'Recife'}

In [24]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

lista1 = ['Danyelle',('idade 28','prof: tec de dados'), {'numeros da sorte': [7,8], 'onde mora?': 'Recife'}, 1.56 ]
lista1

['Danyelle',
 ('idade 28', 'prof: tec de dados'),
 {'numeros da sorte': [7, 8], 'onde mora?': 'Recife'},
 1.56]

In [30]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>

Parabéns se você chegou até aqui. Use o voucher PYTHONDSA9642 para comprar qualquer curso ou Formação da DSA com 5% de desconto.