# Data Science Academy - Fundamentos Python

## Números e operações Matemáticas 
### Obs: Para executar pressionar Shift+Enter ou o botão Run no menu sperior

#### Operações

In [ ]:
# Soma
4 + 4

In [ ]:
# Subtração
4 - 4

In [ ]:
# Multiplicação
4 * 4

In [ ]:
# Divisão
4 / 3

In [ ]:
# Potência
4 ** 2

In [ ]:
# Modulo ou Resto de divisão

10 % 3

#### Função Type

In [ ]:
type(5)

In [ ]:
type(5.0)

In [ ]:
# String = str / variavel = a  // valor da varuavel = 'o que vc quer escrever, entre aspas simples ou dupla' // type(variavél) 
a = 'Meu nome é Danyelle'
type(a)

#### Operações com numeros float

--> Sempre usar ponto e não virgulas

In [ ]:
3.1 + 4.5

In [ ]:
4 + 4.6

#### O uso de duas barras retorna um número inteiro

In [ ]:
4 // 3

In [ ]:
4 // 3.6

In [ ]:
5 / 4

#### Conversão / não é arredondamento, é coleta do primeiro numero

In [ ]:
float(9)

In [ ]:
int(9.8)

In [ ]:
int(9.0)

#### Hexadecimal e Binário

In [ ]:
hex(394)

In [ ]:
hex(217)

In [ ]:
bin(325)

In [ ]:
bin(97909873)

#### Funções abs, round e pow

In [ ]:
# Retornar o valor absoluto
abs(-8)

In [ ]:
# Retornar o valor absoluto
abs(8)

In [ ]:
# Retornar o valor com ARREDONDAMENTO -> após a virgula são a quantidade de casas decimais
round(3.15253,3)

In [ ]:
# Potência usando pow() -> primeiro numero, virgula, segundo numero
pow(4,2)

In [ ]:
pow(16,5)

## Variaveis e Operadores

O que é uma variável? Um espaço na memoria do computador de qualquer denominação onde será armazenado um valor, seja numerico ou palavras.

In [ ]:
# Armazenar um valor numérico a uma váriável
var_teste = 1

In [ ]:
# Imprimir o valor que está dentro(armazenado) na variável
# apenas listar o nome na variável
var_teste

In [ ]:
# ou utilizando o print(variavel)
print(var_teste)

In [ ]:
# Só podemos utilizar uma variavel se tiver um valor para armazenar

var_teste

In [ ]:
# utilizando o type para saber o tipo da variável
var_teste = 2
print(var_teste)
type(var_teste)

In [ ]:
# podemos também, usar apenas um caracter como variavel

x = 3

In [ ]:
x

#### Declarações multiplas

usando variaveis com valores diferentes

In [ ]:
x1, x2, x3 = 'maria', '526', '25.6'

In [ ]:
x1

In [ ]:
x2

In [ ]:
x3

In [ ]:
print(x1,x2,x3)

usando sinais de atribuições para um mesmo valor,
ou seja, um mesmo valor atribuido para mais de uma variavel ao mesmo tempo

In [ ]:
fruta1 = fruta2 = fruta3 = "Uva"

In [ ]:
fruta1

In [ ]:
fruta2

In [ ]:
fruta3

#### podemos usar letras, numeros e underline(mas nunca comecar uma variavel com um numeral)

In [ ]:
x1 = 50

In [ ]:
# vai dar erro
5x = 'Maria'

#### variaveis atribuidas a outras variaveis e ordem dos operadores

In [ ]:
altura = 2

In [ ]:
largura = 4

In [ ]:
area = altura * largura

In [ ]:
area

In [ ]:
print(area)

ordem dos operadores matemáticos

In [ ]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

In [ ]:
perimetro = 2 * (largura + 2) * altura

In [ ]:
perimetro

#### Operações com variaveis

In [ ]:
idade1 = 18

In [ ]:
idade2 = 20

In [ ]:
idade1 + idade2

In [ ]:
idade1 - idade2

In [ ]:
idade1 * idade2

In [ ]:
idade1 / idade2

#### Concatenação de variavéis
Oque é a concatenação? é simplesmente a junção de variaveis

In [ ]:
nome = 'Danyelle'

In [ ]:
sobrenome = 'Melo'

In [ ]:
# neste caso o sinal de +(mais) não representará uma soma
nomecompleto = nome + " " + sobrenome

In [ ]:
nomecompleto

In [ ]:
print(nomecompleto)

## Strings

Oque são strings? Sequencia de caracteres, formando as palavras e frases
Então o Python pode usar indices para localizar cada letra, ou seja, cada letra tem uma numeração

exemplo: AMOR  - letra A nº 0 - letra M nº 1 - letra O nº 2 - letra R nº 3

##### sempre começa com o numero zero 0

### Como chamar esses indices?

In [ ]:
# Uma unica palavra
'Oi'

In [ ]:
# Uma frase
'Meu nome é Danyelle'

#### Imprimindo uma String

In [ ]:
print('teste')

In [ ]:
# string pulando uma linha, basta colocar \n antes de cada palavra

print('Meu \nNome é \nDanyelle')

#### Indexando Strings

In [ ]:
# Primeiro vamos criar uma variável e atribuir a ela um valor string(letras)
texto = 'Análise de Dados'

In [ ]:
print(texto)

In [ ]:
# Primeira letra da string e o indice(numeração/posição) dentro de colchetes
texto[0]

In [ ]:
# Segunda letra da string
texto[1]

In [ ]:
# Iremos utilizar dois pontos (:) entre um indice e outro
#para que o programa puxe uma sequencia inteira
# Slicing
texto[1:8]

In [ ]:
texto[:10]

In [ ]:
texto[1:]

Obs: Os espaços dentro da string conta como uma posição

Obs: se começar com o indice zero não é preciso preencher o zero, apenas em delimitações

In [ ]:
#para retornar como indexação ao contrário basta colocar o sinal de menos
# ou seja, começar da ultima letgra para a primeira
texto[-1]

In [ ]:
# podemos ainda usar dois pontos duplos para pular indices
# retorne todos os caracteres faltando duas posições
texto[::2]

In [ ]:
texto[2::2]

#### Propriedades de Strings

In [ ]:
texto

obs: Não podemos mudar indices dentro de uma string, strings são imutáveis

#### podemos concatenar uma string

In [ ]:
texto

In [ ]:
texto + ' ' + 'em Python'

#### Função Built-in de Strings

In [ ]:
texto

quando colocamos a variável e o ponto depois podemos precionar a tecla TAB para que uma janela com todos os métodos e  atributos disponíveis para cada objeto(variável

In [ ]:
# tranformar todos os caracterer em letras maiusculas usando metodos com parenteses no final
# usamos o upper()
texto.upper()

In [ ]:
# todas as letras da string em minúsculas
# usamos o lower()

texto.lower()

In [ ]:
# O split ele vai dividir a string
# sempre que essa funçao encoontrar um espaço ela vai dividir a string
texto.split()

In [ ]:
# dividir a string por um elemento especifico
# além do espaço, a letra indexada também será abstraida
texto.split('d')

### Funções Strings

In [ ]:
a = 'analise de dados em python'

In [ ]:
# transformar a primeira letra em maiusculo
a.capitalize()

In [ ]:
# utilizar o count() para contr a frequencia de cada letra numa string
a.count('e')

In [ ]:
# utilizar a função find() para encontrar a letra dentro de uma string
a.find('n')

In [ ]:
# Verificar se todos os caracteres da string são minusculos
a.islower()

In [ ]:
# verificar se existe apenas espaço na string
a.isspace()

In [ ]:
# se a string termina com  letra ó
a.endswith('o')

#### Comparando Strings

In [ ]:
# comparando se x é igual a x
print('x' == 'x')

In [ ]:
# comparando se R é igual a x
print('R' == 'x')

In [ ]:
# comparando se x maiusculo é igual a x menusculo
print('X' == 'x')

## Estruturas de dados

### LISTAS

O que é uma LISTA?
Ao contrario de strings, as listas sãoi mutáveis, os elementos dentro dessa lista podem ser alterados

As listas são compostas por varias strings separadas por virgulas e dentro de colchetes

In [ ]:
# criamos uma variavel para ser o nome da lista
# nomes = ['nome1', 'noome2', 'nome3']

nomes = ['Maria', 'João', 'Pedro', 'Antônio']

In [ ]:
nomes

In [ ]:
# lista com aspas em cada elemento
# listas com 4 elementos
lista_mercado = ['Feijão', 'Arroz', 'Ovos', 'Farinha']

In [ ]:
# lista com aspas no inicio e fim da lista, apenas
# listas de um unico elemento
lista_mercado2 = ['Maçã , Mamão, Açucar, Leite']

In [ ]:
lista_mercado

In [ ]:
lista_mercado2

Exibição de elementos das listas

In [ ]:
# Exibir apenas o parametro do indice indicado
# indice 2
lista_mercado[2]

In [ ]:
# Exibir apenas o parametro do indice indicado
# indice 0
# Não podemos exibir indices que n contem na lista
# Esta lista contem apenas um elemento, ou seja, um indice, o zero
lista_mercado2[0]

In [ ]:
# LISTA com tipos diferentes de dados

lista = [12, 10.6, 'Universidade']

In [ ]:
print(lista)

In [ ]:
# Atribuindo cada valor da lista a uma variável
elemento1 = lista[0]
elemento2 = lista[1]
elemento3 = lista[2]

In [ ]:
print(elemento1, elemento2, elemento3)

#### Substituir elementos de uma lista

In [ ]:
lista[2]

In [ ]:
#colocar a variavel com o indice e logo depois informar o valor a ser inserido
lista[2] = 'Chocolate'

In [ ]:
lista[2]

#### deletar um item da lista com DEL

In [ ]:
del lista[1]

In [ ]:
lista

### Lista dentro de outra Lista (lista alinhada)

In [ ]:
# Criando uma lista de lista

listas = [[1,2,3], [4,5,6,7], [8,9,10,11,12]]

In [ ]:
listas

In [ ]:
# atribuir uma variavel a um item da lista criada
a = listas[0]

In [ ]:
a

In [ ]:
# como a é uma lista também, podemos atribuir variavel aos itens dentro dessa lista
b = a[2]

In [ ]:
b

OBS: A lista com listas dentro dela se torna uma matriz, com linhas e colunas

In [ ]:
# a = listas[0][0] posição do indice da linha e indice coluna
# a linha será a posição de cada lista
# a coluna será cada elemento dessas listas

In [ ]:
c = listas[0][0]

In [ ]:
c

In [ ]:
d = listas[2][3]

In [ ]:
d

In [ ]:
# Podemos somar o valor da lista com com valores externos
g = listas[1][2] + 10
# a linha será a segunda lista
# a coluna será o terceiro item da lista dois
# o indice sempre começa com zero

In [ ]:
g

In [ ]:
f = d * listas[2][1]

In [ ]:
f

concatenar listas cm outras listas

In [ ]:
# cria uma lista 1
lista_1 = [1,2,3,4]

In [ ]:
# imprime a lista 1
lista_1

In [ ]:
# cria uma lista 2
lista_2 = [5,6,7,8,9,10]

In [ ]:
# imprime a lista 2
lista_2

In [ ]:
# cria uma lista total onde irá cnter a concatenação das outras duas
lista_total = lista_1 + lista_2

In [ ]:
# imprime essa lista total
lista_total

#### Operador in

para fazer pesquisa dentro de uma lista

In [ ]:
# criar uma lista
lista_teste = [100,2,5,9,12]

In [ ]:
lista_teste

In [ ]:
# verificar se o valor 10 pertenc a lista
print(10 in lista_teste)

In [ ]:
# verificar se o valor 100 pertenc a lista
print(100 in lista_teste)


# o in significa conter, o valor x contem na lista y?

Funções Built-in

In [ ]:
# função len() retorna o tamanho da lista, quantos elementos ela contém, não o indice
len(lista_teste)

In [ ]:
# função max() nos retorna o maior elemento dessa lista
max(lista_teste)

In [ ]:
# função max() nos retorna o menor elemento dessa lista
min(lista_teste)

adicionar um valor a lista

In [ ]:
# criar uma lista
lista_teste_2 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# exibir lista
lista_teste_2

In [ ]:
# usando a funação append(valr a ser add), ele adiciona um valor no fim da lista e não por indice
lista_teste_2.append(11)

In [ ]:
# listar a lista depois da inserção 
lista_teste_2

In [ ]:
# criar outra lista
lista_prod = ['carne', 'ovos', 'farinha', 'feijão']

In [ ]:
lista_prod.append('frango')

In [ ]:
lista_prod

In [ ]:
# deletando o que acabamos de inserir
del lista_prod[4]

In [ ]:
lista_prod

#### criar uma lista vazia para preenche-la com um laço for

In [ ]:
# criar uma outra lista, 
lista_antiga = ['João', 'Maria', 'Margarete', 'Thiago']

In [ ]:
# criar uma lista vazia
lista_vazia = []

In [ ]:
# preenchendo com o for

# lê-se: (for)para cada item(variavel qualquer) na lista antiga(lista com elementos)
# (:)faça um append()(função add. com a lista vazia antes dele) na lista nova.
for item in lista_antiga:
        lista_vazia.append(item)

In [ ]:
lista_vazia


# é uma excelente forma de se fazer backup de alguma lista

In [ ]:
# criar outra lista
cidades = ['Recife', 'Olinda', 'Salvador', 'Paulista']

In [ ]:
cidades

In [ ]:
# podemos saber atravez do index(), um uma ordem específica da lista
cidades.index('Salvador')

lembrando que em python os indece comeca com zero 0

In [ ]:
# podemos inserir um elemento em algum indice específico com o insert()

# a variavel.fençaão insert(index, 'valor a ser inseido')
cidades.insert(2,'Camaragibe')

In [ ]:
cidades

In [ ]:
# removendo com uma função remove(), mas dentro da função vai o elemento e n o index

cidades.remove('Salvador')

In [ ]:
cidades

Com o del removemos pelo index, mas se não souber, faz um variavel.index() para achar e remover, ou 
apenas remove com a função remove() com o elemento mesmo

In [ ]:
# listar do fim para o inicio
cidades.reverse()

In [ ]:
cidades

In [ ]:
# ordenar de forma crescente uma lista com a função sort()
x = [3, 4, 2, 1]

In [ ]:
x.sort()

In [ ]:
x

## Dicionários
Mapeamentos em Python
os dicionários criamos com chaves {}

In [ ]:
# vamos compartar uma lista com um dicionário
#   criar lista
lsita_comp = [1, 'Maria', 258, 'João']

In [ ]:
# criar dicionário
# precisamos da chave : e o valor
dicionario_1 = {'Maria': 18, 'João': 25, 'Fernanda': 19}

In [ ]:
print(lsita_comp)
print(dicionario_1)

In [ ]:
# retornar o valor de uma chave
dicionario_1['Fernanda']

In [ ]:
# podemos inserir no dicionário um elemento e atribuir valor a ele
dicionario_1['Monica'] = 46

In [ ]:
dicionario_1

In [ ]:
# podemos apagar todos os valores que contem no dicionário com a função clear()

dicionario_1.clear()

In [ ]:
dicionario_1

In [ ]:
# adicionar valores, sem indexação
dicionario_1['Rebeca'] = 15

In [ ]:
dicionario_1['Jorge'] = 66

In [ ]:
dicionario_1['Antônio'] = 5

In [ ]:
# listar o dicionário
dicionario_1

In [ ]:
# podemos deletar o dicionário com o comando del

del dicionario_1

In [ ]:
dicionario_1

In [ ]:
# criar um novo dicionário
dicionario_2 = {'Maria': 18, 'João': 25, 'Fernanda': 19}

In [ ]:
# usar a função len() para saber o comprimento do dicionário
len(dicionario_2)

# vimos que o dicionário conmtem 3 elementos
# logo o indice vai até 2

In [ ]:
#podemos extrair apenas as chaves do nosso dicionário com a função keys()

dicionario_2.keys()

# vimos que dentro do dicionário se forma uma lista

In [ ]:
#podemos extrair apenas os valores do nosso dicionário com a função values()

dicionario_2.values()

# vimos que dentro do dicionário se forma uma lista

In [ ]:
# podemos retornar os itens, são as combinações com a função items()

dicionario_2.items()

# vimos que dentro do dicionário se forma uma lista

#### update no dicionário

In [ ]:
# vamos usar a função update()
# vamos criar uma novo dicionário

dicionario_3 = {'Caio': 21, 'Anderson': 28, 'Serpa': 23}

In [ ]:
dicionario_3

é como se tivessemos concatenado os dicionários

In [ ]:
dicionario_2.update(dicionario_3)

In [ ]:
dicionario_2

## Tuplas
valores, dados que não sofreram alterações

In [1]:
# criando uma tupla
tupla1 = ('Maria', 23, 'João')

para as TUPLAS usamos os parenteses

In [2]:
tupla1

('Maria', 23, 'João')

In [ ]:
# NÃO podemos adicionar valores usando append(), pois ea é imutavel

tupla1.append('Chocolate')

In [ ]:
# tambem n podemos deletar elementos
del tupla1['João']

podemos usar todas as funções nessa tupla, menos as que altere seu valor/estrutura

Mas para alterer uma tupla, podemos converte-la em lista, fazer a alteração e depois tranforma-la em tupla novamente

In [5]:
# criaremos uma variavel = list(nome da tupla)
t1 = list(tupla1)

# isso fará com que a tupla vire uma lista, funciona também com o dicionário

In [6]:
# listando a nova variavél
t1

['Maria', 23, 'João']

In [7]:
# Adicionando um elemento a tupla convertida em lista
t1.append('Chocolate')

In [9]:
# deletando um elemento pelo indice da tupla convertida em lista
del t1[1]

In [10]:
# listando a tupla
t1

['Maria', 'João', 'Chocolate']

In [11]:
# transformar a alista em tupla novamente
tupla1 = tuple(t1)

In [12]:
# listando a tupla
tupla1

('Maria', 'João', 'Chocolate')